.card {
  background-color: azure;
  height: 25rem;
  width: 25rem;
  padding: 3rem;
  border: 0.3rem solid rgb(98, 96, 96);
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  cursor: pointer;
}

.card h1 {
  font-size: 2rem;
}
.card img {
  height: 50px;
  object-fit: scale-down;
  object-position: none;
}
