.window {
  min-width: 40vh;
  height: 40vh;
  border-radius: 2rem;
  border: 0.5rem solid rgb(98, 96, 96);
  cursor: pointer;
}
.res {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headings {
  font-size: 3rem;
  margin: 2rem;
}

.btn {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 2rem;
  color: white;
  background-color: #333;
}
