.panel {
  background-color: #758694;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  border-radius: 0.5rem;
}

.word {
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: 1rem;
  display: inline-block;
  min-width: fit-content;
  font-size: large;
  font-weight: bold;
  margin: 2rem;
}

.word-btn {
  padding: 0.5rem 1rem;
}

.score-display {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
}

.score-display h1 {
  margin: 2rem;
}
